extends ../layout/admin-site

block content
  
  
  .content.mt-3
   .animated.fadeIn
    .row
      
      .col-xl-4.col-lg-6
        .card
          .card-body
            .stat-widget-one
              .stat-icon.dib
                i.ti-money.text-success.border-success
              .stat-content.dib
                .stat-text Doanh thu / tháng
                .stat-digit #{stCurrentMonth.sumMoneyInCurrentMonth.toLocaleString('it-IT').split(',').join('.')}đ
      .col-xl-4.col-lg-6
        .card
          .card-body
            .stat-widget-one
              .stat-icon.dib
                i.ti-layout-grid2.text-warning.border-warning
              .stat-content.dib
                .stat-text Đã bán / tháng
                .stat-digit #{stCurrentMonth.sumProductSold}
      .col-xl-4.col-lg-6
        .card
          .card-body
            .stat-widget-one
              .stat-icon.dib
                i.ti-user.text-primary.border-primary
              .stat-content.dib
                .stat-text Tổng số người dùng
                .stat-digit #{tUser}
      .col-lg-6
        .card
          .card-body
            h4.mb-3 Doanh thu trong năm 
              select#chooseYearR.form-control
            canvas#revenueChart
      .col-lg-6
        .card
          .card-body
            h4.mb-3 Số giao dịch trong năm 
              select#chooseYearT.form-control
            canvas#transactionChart
      .col-lg-4
        .card
          .card-header
            strong.card-title.mb-3 Top 3 Sản phẩm được mua nhiều
          .card-body
           ul.rank-top3-product-sale
            each product in t3HotSaleProduct
              li
                .top3-product-detail 
                  img(src=product.image[0])
                  p #{product.name + "("+ product.soldOut+")"}
      .col-md-4
        .card
          .card-header
            strong.card-title.mb-3 Quản lý
          .card-body
            .mx-auto.d-block
              img(style="width:150px; height:150px").rounded-circle.mx-auto.d-block(src=user.avatar)
              h5.text-sm-center.mt-2.mb-1 #{user.firstname + " " + user.lastname}
              .location.text-sm-center
                i.fa.fa-map-marker
                |  #{user.address.detail +" - "+ user.address.district +" - "+ user.address.province}
      

  script(src='/admin-site/vendors/jquery/dist/jquery.min.js')
  script(src="/admin-site/vendors/chart.js/dist/Chart.bundle.min.js")
  script(src="/admin-site/assets/js/init-scripts/chart-js/chartjs-init-custom.js")
  
