extends ../layout/admin-site

block content
	
		
  .breadcrumbs
    .col-sm-4
      .page-header.float-left
        .page-title
          h1 Dashboard
    .col-sm-8
      .page-header.float-right
        .page-title
          ol.breadcrumb.text-right
            li
              a(href="#") Dashboard
            li
              a(href="#") Table
            li.active Product
  .content.mt-3
    .animated.fadeIn
      .row
        .col-md-12
          .card
            .card-header
              strong.card-title Danh sách sản phẩm
            .card-body
              table#bootstrap-data-table-export.table.table-striped.table-bordered
                thead
                  tr
                    th Name
                    th Position
                    th Office
                    th Salary
                    th Action
                tbody
                  each store in stores
                    tr
                      td #{store.name}
                      td #{store.owner}
                      td #{store.partner}
                      td #{store.description}									
                      td.action
                        form(method="post" action="/admin/store/update-form")
                          input(type="hidden" name="store" value=store)
                          button.btn.btn-action(type="submit")
                            i.fa.fa-pencil
                        a.btn.btn-action(href=`/admin/store/delete/${store._id}`)
                          i.fa.fa-trash-o
                        
