extends layout/home-site

block content

  
  section#slider
    // slider
    .container
      .row
        .col-sm-12
          #slider-carousel.carousel.slide(data-ride="carousel")
            ol.carousel-indicators
              li.active(data-target="#slider-carousel" data-slide-to="0")
              li(data-target="#slider-carousel" data-slide-to="1")
              li(data-target="#slider-carousel" data-slide-to="2")
            .carousel-inner
              .item.active
                .col-sm-6
                  h1(style="font-family: 'Oswald', sans-serif;")
                    |Thời trang 
                    span Hai lúa
                  h2 Website bán hàng trực tuyến.
                  p
                    | Chất lượng luôn là ưu tiên hàng đầu của chúng tôi
                  button.btn.btn-default.get(type="button") Mua ngay
                .col-sm-6
                  img.girl.img-responsive(src="/home-site/images/home/girl1.jpg" alt="")
                  img.pricing(src="/home-site/images/home/pricing.png" alt="")
              .item
                .col-sm-6
                  h1(style="font-family: 'Oswald', sans-serif;")
                    |Thời trang 
                    span Hai lúa
                  h2 Thanh toán trực tuyến
                  p
                    | Thanh toán trực tuyến nhận ngay hàng tại nội thành, giao hàng trong vòng 7 ngày ngoại thành.
                  button.btn.btn-default.get(type="button") Mua ngay
                .col-sm-6
                  img.girl.img-responsive(src="/home-site/images/home/girl2.jpg" alt="")
                  img.pricing(src="/home-site/images/home/pricing.png" alt="")
              .item
                .col-sm-6
                  h1(style="font-family: 'Oswald', sans-serif;")
                    |Thời trang 
                    span Hai lúa
                  h2 Hỗ trợ tư vấn và bảo hành sản phẩm
                  p
                    | Hỗ trợ tư vấn trực tiếp qua fanpage và bảo hành sản phẩm bị lỗi khi nhận hàng.
                  button.btn.btn-default.get(type="button") Mua ngay
                .col-sm-6
                  img.girl.img-responsive(src="/home-site/images/home/girl3.jpg" alt="")
                  img.pricing(src="/home-site/images/home/pricing.png" alt="")
            a.left.control-carousel.hidden-xs(href="#slider-carousel" data-slide="prev")
              i.fa.fa-angle-left
            a.right.control-carousel.hidden-xs(href="#slider-carousel" data-slide="next")
              i.fa.fa-angle-right
  section
  .container
    .row
      .col-sm-3
        .left-sidebar
          h2 Danh mục
          #accordian.panel-group.category-products
            // category-productsr
            each category in categories
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse" data-parent="#accordian" href="#"+category.name)
                      span.badge.pull-right
                        i.fa.fa-plus
                      | #{category.name}
                div(id=category.name).panel-collapse.collapse
                  .panel-body
                   ul
                    if category.sub
                      each sub in category.sub
                      
                          li
                            a(href=`/category?id=${sub._id}`) #{sub.name} 
            
          // /category-products
          .brands_products
            // brands_products
            h2 Thương hiệu
            .brands-name
              ul.nav.nav-pills.nav-stacked
               each supplier in suppliers
                li
                  a(href=`/brand?id=${supplier._id}`)
                    span.pull-right
                    | #{supplier.name}
          // /brands_products
          .shipping.text-center
            // shipping
            img(src="/home-site/images/home/shipping.jpg" alt="")
          // /shipping
      .col-sm-9.padding-right
        .recommended_items
          
          // recommended_items
          h2.title.text-center Sản phẩm bán chạy
          .owl-carousel.owl-theme
            each pHotSell in sixHotSell
              .product-image-wrapper
                .single-products
                  .productinfo.text-center
                    img(src=pHotSell.image[0] alt=""  style="height: 250px; object-fit:cover")
                    h2 #{pHotSell.priceCurrency}đ
                    p #{pHotSell.name.substr(0, 35) + '...'}
                    a.btn.btn-default.add-to-cart(href=`/product/detail?id=${pHotSell._id}`)
                      i.fa.fa-shopping-cart
                      | Xem chi tiết
                  if !pHotSell.inStock
                    .product-sold-out
                     .product-sold-out-content
                       p(style="font-size:24px; margin:0; padding: 5px") Hết hàng
        .features_items
          // features_items
          h2.title.text-center Sản phẩm mới trong tháng
          each product in newProduct
             .col-sm-4
              .product-image-wrapper
                .single-products
                  .productinfo.text-center
                    img(src=product.image[0] alt="" style="height: 250px; object-fit:cover")
                    h2 #{product.priceCurrency}đ
                    p #{product.name.substr(0, 35) + '...'}
                    a.btn.btn-default.add-to-cart(href=`/product/detail?id=${product._id}`)
                      i.fa.fa-shopping-cart
                      | Xem chi tiết
                  if product.inStock
                   .product-overlay
                    .overlay-content
                      h2 #{product.priceCurrency}đ
                      p #{product.name.substr(0, 35) + '...'}
                      a.btn.btn-default.add-to-cart(href=`/product/detail?id=${product._id}`)
                        i.fa.fa-shopping-cart
                        | Xem chi tiết
                  else
                    
                    .product-sold-out
                     .product-sold-out-content
                       p(style="font-size:24px; margin:0; padding: 5px") Hết hàng
                  img.new(src="/home-site/images/home/new.png" alt="")
             
        .features_items
          // features_items
          h2.title.text-center Tất cả sản phẩm
          each product in products
             .col-sm-4
              .product-image-wrapper
                .single-products
                  .productinfo.text-center
                    img(src=product.image[0] alt="" style="height: 250px; object-fit:cover")
                    h2 #{product.priceCurrency}đ
                    p #{product.name.substr(0, 35) + '...'}
                    a.btn.btn-default.add-to-cart(href=`/product/detail?id=${product._id}`)
                      i.fa.fa-shopping-cart
                      | Xem chi tiết
                  if product.inStock
                   .product-overlay
                    .overlay-content
                      h2 #{product.priceCurrency}đ
                      p #{product.name.substr(0, 35) + '...'}
                      a.btn.btn-default.add-to-cart(href=`/product/detail?id=${product._id}`)
                        i.fa.fa-shopping-cart
                        | Xem chi tiết
                  else
                    
                    .product-sold-out
                     .product-sold-out-content
                       p(style="font-size:24px; margin:0; padding: 5px") Hết hàng
                  if product.isNew  
                    img.new(src="/home-site/images/home/new.png" alt="")
          
        script(src="owlcarousel/owl.carousel.min.js")
        script.
          $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:10,
                dots: false,
                autoplay: true,
                autoplayTimeout: 1000,
                autoplayHoverPause: true,
                
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    }
                }
            })
          });
