extends ../layout/admin-site

block content
  - function findCategory(ct,lv=1){
  -  var str = '';
  -  let count =0;
  -  let star = '';
  -  while(count<lv){
  -    star+='-';
  -    count++;
  -  }
  -  lv++
  -  for(let item of ct){
  -    str+= `<option value=${item._id}>${star + item.name}</option>`;
  -    if(item.sub.length > 0){
  -      str+= findCategory(item.sub,lv);
  -    }
  -  }
  -  return str;
  - }
  - var x = `<option value='Root'>Root</option>`+findCategory(data);
  
  form(action='/admin/category/update', method='POST')
    input(name='idCategory', type='hidden', value=category._id)
    input(name='nameCategory', type='text', value=category.name)
    br
    select(name='parentCategory')!= x
    br
    button(type='submit').btn.btn-default Update
      
