extends ../layout/admin-site


block content
  
  - function findCategory(ct,lv=1){
  -  var str = '';
  -  let count =0;
  -  let star = '';
  -  while(count<lv){
  -    star+='-';
  -    count++;
  -  }
  -  lv++
  -  for(let item of ct){
  -    str+= `<option value=${item._id}>${star + item.name}</option>`;
  -    if(item.sub.length > 0){
  -      str+= findCategory(item.sub,lv);
  -    }
  -  }
  -  return str;
  - }
  - var categories = data 
  - var x = `<option value='Root'>Root</option>`+findCategory(categories);
  
  .breadcrumbs
    .col-sm-4
      .page-header.float-left
        .page-title
          h1 Quản trị
    .col-sm-8
      .page-header.float-right
        .page-title
          ol.breadcrumb.text-right
            li
              a(href="/admin/dashboard") Quản trị
            li.active
              a(href="/admin/category") Danh mục
  .content.mt-3
    .animated.fadeIn
      .row
        .col-lg-2
        .col-lg-8
          .card
            .card-header
              strong Thông tin
              |  Danh mục
            .card-body.card-block
              form.form-horizontal(action="/admin/category/update" method="post")
                
                input.form-control(type="hidden" name="idCategory" value=`${category._id}`)
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="text-input") Tên danh mục
                  .col-12.col-md-9
                    input.form-control(type="text" name="nameCategory" value=`${category.name}`)
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="textarea-input") Mô tả
                  .col-12.col-md-9
                    textarea.form-control(name="descriptionCategory" rows="9" placeholder="Mô tả sản phẩm...")!=category.description
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="select") Danh mục cha
                  .col-12.col-md-3
                    select#parent-category.form-control(name="parentCategory")!=x
                button.btn.btn-primary.btn-sm(type="submit")
                  i.fa.fa-dot-circle-o
                  |  Submit
                button.btn.btn-danger.btn-sm(type="reset")
                  i.fa.fa-ban
                  |  Reset
                  
    script.
        var pOptions = document.getElementById('parent-category').options;
        var parent = !{JSON.stringify(category.parent)};
        for (i=0; i < pOptions.length; i++) {
          if (pOptions[i].value == parent) pOptions[i].selected = true;
        }
