extends ../layout/layout

block content

	.container
		.row
			.col-8.offset-md-2
				h2 User
					a(class='btn btn-primary' href='user/create') New
				

				table.table.table-hover
					thead
						tr
							th Avatar
							th Username
							th Name
							th Email
							th Phone
							th Grant
					tbody
						each user in users
							tr
							td: img(src=user.avatar, width='64px')
							td #{user.username} 
							td #{user.name}
							td #{user.email}
							td #{user.phone}
							td #{user.grant==1 ? 'Admin':'User'}
