extends ../layout/layout

block content

	.container
		.row
			.col-8.offset-md-2
				h2 Product
					a(class='btn btn-primary' href='/products/create') New
				

				table.table.table-hover
					thead
						tr
							th Image
							th Name
							th Description
							th Price
							th 
					tbody
						each product, i in products
							tr
							td: img(src=product.image, width="64px") 
							td #{product.name}
							td #{product.description}
							td #{product.price}
							td: a(href=`/cart/add-to-cart/${product.id}`).btn.btn-default Add
