extends ../layout/admin-site

block content
			.breadcrumbs
				.col-sm-4
					.page-header.float-left
						.page-title
							h1 Quản trị
				.col-sm-8
					.page-header.float-right
						.page-title
							ol.breadcrumb.text-right
								li
									a(href="/admin/dashboard") Quản trị
								li.active
									a(href="/admin/product") Sản phẩm
			.content.mt-3
				.animated.fadeIn
					.row
						.col-md-12
							.card
								.card-header
									strong.card-title Danh sách sản phẩm
								.card-body
									table#bootstrap-data-table-export.table.table-striped.table-bordered
										thead
											tr
												th Hình ảnh
												th Tên sản phẩm
												th Giá
												th Ngày tạo
												th Hành động
										tbody
											each product in products
												tr
													td 
														each image in product.image
															img(src=image style="width: 50px; height: 50px;object-fit: cover;")
													td #{product.name}
													td #{product.priceCurrency}đ
													td #{product.create_time}
													td.action
														form(method="post" action="/admin/product/update-form")
															input(type="hidden" name="product" value=product)
															button.btn.btn-action(type="submit")
																i.fa.fa-pencil
														a.btn.btn-action(href=`/admin/product/delete/${product._id}`)
															i.fa.fa-trash-o
														
