extends ../layout/admin-site

block content

  - function findCategory(ct,lv=1){
  -  var str = '';
  -  let count =0;
  -  let star = '';
  -  while(count<lv){
  -    star+='-';
  -    count++;
  -  }
  -  lv++
  -  for(let item of ct){
  -    str+= `<option value=${item._id}>${star + item.name}</option>`;
  -    if(item.sub.length > 0){
  -      str+= findCategory(item.sub,lv);
  -    }
  -  }
  -  return str;
  - }
  - var categories = data 
  - var x = findCategory(categories);

  .breadcrumbs
    .col-sm-4
      .page-header.float-left
        .page-title
          h1 Quản trị
    .col-sm-8
      .page-header.float-right
        .page-title
          ol.breadcrumb.text-right
            li
              a(href="/admin/dashboard") Quản trị
            li.active
              a(href="/admin/product") Sản phẩm
  .content.mt-3
    .animated.fadeIn
      .row
        .col-lg-4
          .card
            .card-header
              | Hình ảnh sản phẩm
            .card-body.card-block
              each image in product.image
                img(src=`${image}`)
        .col-lg-8
          .card
            .card-header
              strong Thông tin
              |  Product
            .card-body.card-block
              form.form-horizontal(action="/admin/product/update" method="post" enctype="multipart/form-data")
                input.form-control(type="hidden" name="idProduct" value=`${product._id}` )
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="text-input") Tên sản phẩm
                  .col-12.col-md-9
                    input.form-control(type="text" name="nameProduct" value=`${product.name}`)
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="text-input") Giá sản phẩm
                  .col-12.col-md-5
                    input.form-control(type="number" min="1000" name="priceProduct" value=`${product.price}`)
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="descriptionProduct") Mô tả
                  .col-12.col-md-9
                    textarea.form-control(name="descriptionProduct" id="editor" rows="9" placeholder="Mô tả sản phẩm...")!=product.description
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="select") Chọn danh mục
                  .col-12.col-md-3
                    select.form-control(name="idCategory")!= x
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="select") Cửa hàng sở hữu
                  .col-12.col-md-3
                    select.form-control(name="idSupplier")
                     each supplier in suppliers
                      option(value=supplier.id) #{supplier.name}
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="file-input") Hình ảnh
                  .col-12.col-md-9
                    input.form-control-file(type="file" name="imagesProduct" multiple)
                      
                button.btn.btn-primary.btn-sm(type="submit")
                  i.fa.fa-dot-circle-o
                    |  Submit
                button.btn.btn-danger.btn-sm(type="reset")
                  i.fa.fa-ban
                    |  Reset
      .row
        .col-12
          .card
            .card-body
              form(action="/admin/product/update/classify" method="post")
                input(value=product._id type="hidden" name="idProduct")
                input.btn.btn-info(type="submit" value="Thêm phân loại")
              table.table
                thead.thead-dark
                  tr
                    th(scope="col") #
                    th(scope="col") Màu sắc
                    th(scope="col") Kích cở
                    th(scope="col") Số lượng
                    th(scope="col") Hành động
                tbody
                 each classify, index in product.classifyproduct_id
                  tr
                    td #{index}
                    td #{classify.color}
                    td #{classify.size}
                    td #{classify.quantity}
                    td.action
                      form(method="post" action="/admin/product/update/classify/update-classify-form")
                        input(type="hidden" name="classify" value=classify)
                        button.btn.btn-action(type="submit")
                          i.fa.fa-pencil
                      a.btn.btn-action(href=`/admin/product/update/classify/delete/${classify._id}`)
                        i.fa.fa-trash-o
        script(src="/ckeditor/ckeditor.js")
        script.
          CKEDITOR.replace( 'editor' );
