extends ../layout/layout

block content
  
  -function isEmpty(obj) {
  -  for(var key in obj) {
  -      if(obj.hasOwnProperty(key))
  -          return false;
  -  }
  -  return true;
  -}
  
  .container
    if isEmpty(items)
      .cart-empty.col-12
       .cart-empty-image
         img(src="/img/cart-empty.png" alt="")
       .cart-empty-message
         | Giỏ hàng của bạn chưa có gì cả!
    else
    
     .row
      .personal-info.col-5.mt-10.mb-10
        h4 KaneStore - Thanh toán
        form(method="post" action="/cart/payment/checkout").form-payment
          label Họ tên
          .row.form-group
            .col-6
              input.form-control(type="text" placeholder="Họ" name="firstname")
            .col-6
              input.form-control(type="text" placeholder="Tên" name="lastname")
          .form-group
            label Địa chỉ nhà
            input.form-control(type="text" placeholder="Địa chỉ nhà" name="billingStreet")
          label Huyện/Tỉnh
          .row.form-group
            .col-6
              input.form-control(type="text" placeholder="Huyện" name="billingCity")
            .col-6
              input.form-control(type="text" placeholder="Tỉnh" name="billingStateProvince")
          .row.form-group
            .col-6
              label Email
              .input-group
                .input-group-prepend
                  span.input-group-text
                    i.far.fa-envelope
                input.form-control(type="email" name="email" required)
            .col-6
              label Số điện thoại
              .input-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-phone
                input.form-control(type="text" name="phoneNumber")
          input(type="hidden" value=totalPrice name="totalPrice")
          button.btn.btn-success.btn-custom-success(type="submit")  Thanh Toán #{totalPrice}
      .col-7
        .cart.mt-10.mb-10
         if items
          each item in items
            // PRODUCT
            .cart-product-item
              .cart-product-item-image
                img.img-responsive(src=item.item.image[Object.keys(item.item.image)[0]] alt="prewiew" width="120" height="80")
              .cart-product-item-detail
                h5 #{item.item.name}
                p #{item.item.description}
              .cart-product-item-more-info
                .col-6.flex-center
                  h6.item-price #{item.item.price}
                .col-3.item-quantity
                  a.plus-one(href=`/cart/add/${item.item._id}`) +
                  |                     #{item.qty}
                  a.minus-one(href=`/cart/remove-one/${item.item._id}`) -
                .col-3.flex-center
                  a.btn.btn-outline-danger.btn-xs(href=`/cart/remove-one/${item.item._id}`)
                    i.fa.fa-trash(aria-hidden="true")
            hr
          // END PRODUCT
          .pull-right
            a.btn.btn-outline-secondary.pull-right(href="")
              | Update
