extends ../layout/layout

block content
  .container
    .card.card-custom.shopping-cart
       .card-body
         // PRODUCT
         if items
         each item in items
          .row
             .col-12.col-sm-12.col-md-2.text-center
               img(src=item.item.image[Object.keys(item.item.image)[0]] alt="prewiew" width="120" height="80")
             .col-12.text-sm-center.col-sm-12.text-md-left.col-md-6
               h5.product-name #{item.item.name}
               h5
                 small #{item.item.description}
             .col-12.col-sm-12.text-sm-center.col-md-4.text-md-right.row
               .col-3.col-sm-3.col-md-6.text-md-right(style="padding-top: 5px")
                 h6
                   strong
                     | #{item.item.price} 
                     span.text-muted x
               .col-4.col-sm-4.col-md-4
                 .quantity
                   input.qty(type="number" step="1" max="99" min="1" value=item.qty title="Qty" size="4")
               .col-2.col-sm-2.col-md-2.text-right
                   a(href=`/cart/remove-one/${item.item._id}`).btn.btn-outline-danger.btn-xs
                     i.fa.fa-trash(aria-hidden="true")
          hr
         // END PRODUCT
         .pull-right
           a.btn.btn-outline-secondary.pull-right(href="")
             | Update
       .card-footer
         .pull-right(style="margin: 10px")
           form(action="/admin/payment/checkout" method="post")
             input(type="hidden" value={items, totalPrice} name="detail")
             button(type="submit").btn.btn-success.pull-right Thanh toán #{totalPrice}đ
           
