extends ../layout/admin-site

block content
	
		
  .breadcrumbs
    .col-sm-4
      .page-header.float-left
        .page-title
          h1 Dashboard
    .col-sm-8
      .page-header.float-right
        .page-title
          ol.breadcrumb.text-right
            li
              a(href="#") Dashboard
            li
              a(href="#") Table
            li.active Product
  .content.mt-3
    .animated.fadeIn
      .row
        .col-md-12
          .card
            .card-header
              strong.card-title Danh sách nhà cung cấp
            .card-body
              table#bootstrap-data-table-export.table.table-striped.table-bordered
                thead
                  tr
                    th Tên nhà cung cấp
                    th Mô tả
                    th Ngày tạo
                    th Action
                tbody
                  each supplier in suppliers
                    tr
                      td #{supplier.name}
                      td #{supplier.description}
                      td #{supplier.create_time}
                      td.action
                        form(method="post" action="/admin/supplier/update-form")
                          input(type="hidden" name="supplier" value=supplier)
                          button.btn.btn-action(type="submit")
                            i.fa.fa-pencil
                        a.btn.btn-action(href=`/admin/supplier/delete/${supplier._id}`)
                          i.fa.fa-trash-o
                        
